.main {
	position: relative;
	width: 100vw;
	height: 100vh;
	color: #fff8de;
	overflow: hidden;
}

span.header {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	position: absolute;
	display: inline-block;
	width: 500px;
	transform: translate3d(0, -50%, 0);
	font-size: 5em;
	line-height: 0.9em;
	pointer-events: none;
	top: 220px;
	left: 50px;
}

span.header-left {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	position: absolute;
	display: inline-block;
	transform: translate3d(0, -50%, 0);
	line-height: 1em;
	top: 200px;
	left: 60px;
	font-size: 4em;
	width: 200px;
}

div.header-major {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.header-major > span {
	font-size: 15em;
}

@media only screen and (max-width: 750px) {
	span.header {
		top: 200px;
		left: 60px;
		font-size: 4em;
		width: 200px;
	}
	a.bottom-left {
		display: none;
	}
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.grid .item {
	position: relative;
	width: 50vw;
	height: 50vw;
	background: #eee;
}

@media only screen and (max-width: 480px) {
	.grid .item {
		width: 100vw;
		height: 100vw;
	}
}

.scroll-container {
	position: absolute;
	overflow: auto;
	top: 0px;
	width: 100%;
	height: 100vh;
	font-size: 20em;
	font-weight: 800;
	line-height: 0.9em;
}
